.houses {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('../../bg.jpg');
    background-position: center;
    background-size: cover;
}

.houseList {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
}