@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Poppins:wght@400;700;900&display=swap');
:root {
    --gray: #EAEAE9;
    --blue: #002764;
    --yellow: #FEC500;
    --dark-gray: #BAB1AA;
    --dark-blue: #2F3542;
    --primary: 'Poppins', sans-serif;
    --secundary: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
