.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox{
    position: relative;
}

.searchButton{
    position: absolute;
    right: 10px;
    top:0;
    margin: auto 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

.searchInput{
    height: 20px;
    padding: 20px 30px;
    border: 0;
    border-bottom: solid rgba(5, 23, 102);
    background-color: rgb(214, 214, 214);
    color: rgba(5, 23, 102);
}

.searchInput:focus {
    outline: none;
}