@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Spectral:ital@1&display=swap');

:root {
  --font-primary: 'cinzel', serif;
  --font-secundary:  'Lato', sans-serif;
  --yellow: rgb(255, 221, 0);
  --silver: #c0c0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #C0C0C0;
}

