* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #077e84;
    color: #fefefe;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
}

.container {
    background-color: rgba(0,0,0,0.25);
    padding: 20px 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: #0ae1ec;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: #0ae1ec;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    opacity: 0.9;
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: #fefefe 2px solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #fefefe;
}

.form-control input:focus,
.form-control input:valid {
    outline: none;
    border-bottom-color: #0ae1ec;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 10px
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: rgb(0, 251, 255);
    transform: translateY(-25px);
}