.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    gap: 20px;
}

.btn {
    background-color: rgb(48, 43, 43);
    width: 25%;
}

.list {
list-style: none;

}