* {
    box-sizing: border-box;
}

:root {
    --line-fill: #3498db;
    --line-empty: #e0e0e0; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(2, 6, 63);
}

.container {
text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    background-color: var(--line-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #ffffff;
    color:#999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-fill);
}

.btn {
    background-color: var(--line-fill);
    color: #ffffff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-empty);
    cursor: not-allowed;
    color: #333;
}